<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Layout Title</title>
</head>
<body>
<h1>Layout Main Heading</h1>

<section th:replace="${content}">
    <p>Layout contents</p>
</section>

<footer>
    <p>&copy; 2022 Layout footer</p>
</footer>
</body>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>Welcome to My Site</title>
</head>
<body>

<section>
    <p>This is just an extra text.</p>
    <a th:href="@{/contact-us}">Contact Us</a>
</section>

</body>
</html>